<h1>Thank you for using Travelquotesys.ca</h1>

<p>
Thank you for using Travelquotesys.ca

Here is is the link to your recent quote with us.

<%= link_to "#{quote_path(@quote, quote_id: @quote.quote_id)}", quote_path(@quote, quote_id: @quote.quote_id)  %>

You can also find your quote within the next 90 Days with this unique quote id:

<%= @quote.quote_id %>

</p>
