<div class="center jumbotron">
  <h1>Welcome to the VacationTravelInsurance.CA</h1>

  <h2>Start your trip with Peace of Mind</h2>

  <%= link_to "Super Visa", new_quote_path, class: "btn btn-danger btn-lg" %>
  <%= link_to "Visitors to Canada", new_quote_path, class: "btn btn-danger btn-lg" %>
</div>
