<table class="table table-bordered">
  <tr>
    <td>Company:</td>   
    <% products.each do |p| %>
      <td><%= image_tag p.company.logo %></td>
    <% end %>
  </tr>
  <tr>
    <td>Policy:</td>   
    <% products.each do |p| %>
      <td><%= p.name %></td>
    <% end %>
  </tr>

  <tr>
    <td>Rate:</td>   
    <% products.each do |p| %>
      <td><%= number_to_currency(p.rate) %></td>
    <% end %>
  </tr>


</table>