<%= form_tag(url_for(:controller => 'quotes', :action => 'show'), method: "get") do %>
  <%= hidden_field_tag :id, q.id %>
  <div class="form-group deductible_box" >
      <%= select_tag(:deductible, options_for_select([["Select Deductible", "None"], Quote.deductible_filter].flatten, q.deductible_filter ), class: "form-control") %>
  </div>
  <div class="form-group">
    <div class="pull-right">
      <%= submit_tag "Deductible Options", class: "btn btn-danger btn-sm" %>
    </div>
  </div>

<% end %>
