<div class="row">

  <div class="col-lg-3">
    <%= render 'result_sidebar', params: @p %>
  </div>

  <div class="col-lg-9 quotes">  
    <%= render 'result_list', results: @results %>
  </div>


</div>

