<div class="row">
  <div class="col-lg-3">
    <%= render 'result_sidebar', q: @quote  %>
  </div>

  <div class="col-lg-9 quotes">  
    <%= render 'quote_content', quote: @quote %>
  </div>
<<<<<<< HEAD
=======
  <!-- Modal -->
  <div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render 'detail_modal', product: nil %>
  </div>
>>>>>>> ed9798a432c3a7259c7855445cf8d4dee8f8c232
</div>

