<div class="rate_fields">

  <div class="col-xs-2">
    <%= text_field_tag "future[][rate]", nil, id: "future_rate" , :placeholder => "Enter Future Rate..."%>
  </div>

  <div class="col-xs-2">
    <%=  link_to("Remove", '#', class: "remove_fields link_button" )%>
  </div>
</div>