<div class="row family_member" style="display: none;">
  <div class="btn-group">
  <%= link_to_add_new_fields "+ Adult", f, :student_traveler_members %>
  <%= link_to "Adult -", "#", class: "remove_adult_fields btn btn-info" %>

  </div>
  <div class="btn-group">
  <%= link_to_add_new_fields "+ Dependent", f, :student_traveler_members %>
  <%= link_to "Dependent -", "#", class: "remove_dependent_fields btn btn-info" %>
  </div>
</div>